*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
main:hover #one {
    transform: rotate(90deg);
    left: 0em;
    transition-duration: 2s;
}
#one {
    width: 10em;
    height: 10em;
    background-color: blue;
    z-index: 2;
    top: 0em;
    left: 10em;
    position: absolute;
}

#two {
    width: 10em;
    height: 10em;
    background-color: yellow;
    position: absolute;
    top: 10em;
    z-index: 2;
    left: 10em;
}
main:hover #two {
    transform: rotate(-90deg);
    left: 0em;
    transition-duration: 2s;
}
#three {
    width: 10em;
    height: 10em;
    background-color: gray;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 20em;
}
main:hover #three {
    transform: rotate(-90deg);
    left: 30em;
    transition-duration: 2s;
}
#four {
    width: 10em;
    height: 10em;
    background-color: brown;
    position: absolute;

    top: 10em;
    left: 20em;
    z-index: 2;
}
main:hover #four {
    transform: rotate(90deg);
    position: absolute;

    left: 30em;
    transition-duration: 2s;
}
#hi h1 {
    position: absolute;
    top: 3.6em;
    left: 7.75em;
    font-weight: 500;
    font-size: xx-large;
    z-index: 1;
}
